.article-content {
  max-width: 93.8rem;
  margin: 11.6rem auto 0;

  display: grid;

  grid-template-columns: repeat(4, 1fr);
  row-gap: 3.1rem;
  column-gap: 2.2rem;
}

@media (max-width: 350px) {
  .article-content {
    display: flex;
    flex-direction: column;
    margin: 1.8rem auto 0 auto;
    max-width: 25.1rem;

  }
}
